body {
  font-family: 'Roboto', sans-serif;
  font-size: 16pt;
  font-weight: 300;
  color: ivory;
  background: hsl(195, 100%, 20%);
  display: block;
  width: 75%;
  margin: 0 auto;
  padding: 10px 10px;
  }

h2 {
  margin: 0px 0px 0px 10px;
}

.js {
  font-family: 'Roboto Mono', monospace;
  background: hsl(0, 0%, 0%);
  margin: 0px 10px 10px 0px;
  border-radius: 10px 50px;
  border: greenyellow solid 2px;
}

.jscontainer {
  display: grid;
  gap: 5px;
  height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
  "a b"
  "c d";
  }

#jsa {
  grid-area: a;
}

#jsb {
  grid-area: b;
}

#jsc {
  grid-area: c;
}

#jsd {
  grid-area: d;
}

@media only screen and (max-width: 1280px) {
  .jscontainer {
    height: 200vh;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    "a"
    "b"
    "c"
    "d";
    }
}