body {
  font-family: 'Roboto', sans-serif;
  font-size: 16pt;
  font-weight: 300;
  color: ivory;
  background: hsl(195, 100%, 20%);
  min-width: 640px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 10px 10px;
  }

h2 {
  margin: 0px 0px 0px 10px;
}

#JavaScript {
  display: flex;
  flex-wrap: wrap;
}

.JS {
  font-family: 'Roboto Mono', monospace;
  background: hsl(0, 0%, 0%);
  width: 100%;
  height: 600px;
  margin: 0px 10px 10px 0px;
  border-radius: 10px 50px;
  border: greenyellow solid 2px;
}

@media only screen and (min-width: 1280px) {
.JS {
  width: 640px;
  flex-grow: 1;
}
}